* {
    margin: 0;
    color: rgb(9, 17, 39);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    scroll-behavior: smooth;
}

.managementSection .btnSecondary {
    display: flex;
    justify-content: center;
    border: 0.1px solid rgba(0, 0, 0, 0.11);
    background-color: #F8F5EE;
    padding: 0.6em 1em;
    border-radius: 2em;
    font-weight: 400;
    height: fit-content;
}

.managementSection .btnHover {
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s;
}

.managementSection .btnHover:hover {
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    /*border-inline-start-width: 5px;*/
    border-color: #00000075;
}

.container {
    display: flex;
}

h1 {
    font-weight: 600;
}

legend {
    font-weight: 600;
}

#imgActivated,
#imgEmail,
#imgSms,
#imgPush,
#imgAlert,
#imgRestart,
#imgThank {
    display: none;
}

form .justify {
    margin-bottom: 14px;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
}

form .lineTitle {
    width: 100%;
}

.line {
    border-bottom: 0.2em solid #F28B50;
    border-radius: 4em;
    width: 30%;
    margin: 10px 0;
}

.managementSection {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    margin: auto;
}

fieldset {
    margin: 12px 0;
    padding: 20px 14px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.452);
}

.bloc {
    background: linear-gradient(to top, #f5c09f, #ffffff00);
    box-shadow: 0px 0px 12px rgba(30, 28, 165, 0.15);
    border-radius: 1em;
    padding:40px;
}

.rowReverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.label {
    border: 1px solid rgba(0, 0, 0, 0.479);
    width: fit-content;
    border-radius: 8px;
    padding: 4px;
    background-color: white;
    margin-right: 10px;
}

label img {
    width: 22px;
    height: auto;
    opacity: 0;
    transition: 0.2s;
}

input[type="checkbox"]:checked+.label img {
    opacity: 1;
}

select {
    margin: 4px 0;
    padding: 4px 20px;
    border-radius: 6px;
    border: 1px solid rgba(128, 128, 128, 0.288);
    background-color: white;
}

input {
    margin-right: 6px;
}