.btnSecondary {
    display: flex;
    justify-content: center;
    border: 0.1px solid rgba(0, 0, 0, 0.11);
    background-color: #F8F5EE;
    padding: 0.4em 0.8em;
    border-radius: 0.4em;
    font-weight: 400;
}

.btnHover {
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s;
}

.tokenContainer {
    width: 80%;
    height: 98vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.token {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    word-break: break-all;
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #00000036;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.178);
    border-radius: 5px;
    height: 34px;
    width: 320px;
    padding: 10px;
    margin: 10px 0;
}

.container {
    background: #F8F5EE;
    display: flex;
}

.headTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    padding: 2em 80px;
    background: linear-gradient(to top, #f5c09f, #ffffff00);
    box-shadow: 0px 0px 12px rgba(30, 28, 165, 0.15);
    border-radius: 1em;
    margin: 0 auto;
}

.headTitle h1 {
    margin-bottom: 1em;
}

.listAdmins {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.super,
.admin {
    width: 46%;
    height: 46vh;
    background: linear-gradient(to top, #f5c09f, #ffffff00);
    box-shadow: 0px 0px 12px rgba(30, 28, 165, 0.15);
    padding: 0.4em 1em;
    border-radius: 1em;
    text-align: center;
}

.super h2,
.admin h2 {
    margin-top: 10px;
}

table {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    text-align: center;
    border-radius: 10px;
}

thead {
    border-radius: 10px 10px 0 0;
    background-color: #f8f5ee6c;
}

tbody {
    background-color: #f8f5ee31;
}

tr {
    width: 100%;
    display: flex;
    align-items: center;
}

table th {
    padding: 16px 8px;
    font-size: 1.2em;
    font-weight: 500;
}

table td {
    padding: 16px;
    border-radius: 10px;
}

table tr {
    position: relative;
}

table tr::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.233);
    width: auto;
}

tr input {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: none;
    background: white;
    border: solid gray 1px;
    border-radius: 8px;
    margin-left: 6px;
}

.fixMax {
    height: 32vh;
    overflow-y: scroll;
    display: block;
    border-radius: 0 0 10px 10px;
}

th {
    width: calc(100% / 4);
    text-align: left;
    margin: 0 20px;
}

td {
    width: calc(100% / 4);
    text-align: left;
    margin: 0 20px;
}

.color {
    color: #378341;
}

.colorBack {
    background-color: #f28b5036;
    border-radius: 10px 10px 0 0;
}