* {
    margin: 0;
    color: rgb(15, 28, 63);
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    scroll-behavior: smooth;
}

body {
    background: #F8F5EE;
    position: relative;
}

.container {
    display: flex;
}


.titleAndCategorySearch {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.row h1 {

    margin-right: 60px;
}

.titleAndCategorySearch select,
input {
    padding: 0px 14px;
    border-radius: 10px;
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.288);
    background-color: white;
}

.rowInput {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

 form {
    display: flex;
    align-items: center;
} 

.btnReset {
    width: 30px;
    margin-left: 10px;
    opacity: 0.7;
    display: inline-block;
    transition: all 0.4s;
}

.btnReset:hover {
    transform: rotate(100deg);
}



.line {
    border-bottom: 0.2em solid #F28B50;
    border-radius: 4em;
    width: 50%;
    margin-top: 1.4em;
}

.blocListMission .btnPrimary {
    display: flex;
    justify-content: center;
    background-color: #f9cf807c;
    border: 0.1px solid #f9cf807c;
    padding: 0.6em 1em;
    border-radius: 2em;
    font-weight: 400;
}

.blocListMission .btnSecondary {
    display: flex;
    justify-content: center;
    border: 0.1px solid rgba(0, 0, 0, 0.26);
    background-color: #F8F5EE;
    padding: 0.6em 2em;
    border-radius: 2em;
    font-weight: 400;
    margin-left: 10px;
}

.blocListMission .btnHover {
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s;
}

.blocListMission .btnHover:hover {
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    /*border-inline-start-width: 5px;*/
    border-color: #00000075;
}

.blocListVolunteers{
    background: linear-gradient(to top, #f5c09f, #ffffff00);
    box-shadow: 0px 0px 12px rgba(30, 28, 165, 0.15);
    border-radius: 2em;
    padding: 2em 6em;
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: auto;
}

.rowDesktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

table {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    text-align: center;
    border-radius: 10px;
}

thead {
    border-radius: 10px 10px 0 0;
    background-color: #f8f5ee6c;
}

tbody {
    background-color: #f8f5ee31;
}

tr {
    width: 100%;
    display: flex;
    align-items: center;
}

table th {
    padding: 16px 8px;
    font-size: 1.2em;
    font-weight: 500;
}

table td {
    padding: 16px;
    border-radius: 10px;
}

table tr {
    position: relative;
}

table tr::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.233);
    width: auto;
}

tr input {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: none;
    background: white;
    border: solid gray 1px;
    border-radius: 8px;
    margin-left: 6px;
}

.fixMax {
    height: 50vh;
    overflow-y: scroll;
    display: block;
    border-radius: 0 0 10px 10px;
}

th {
    width: calc(100% / 6);
}

td {
    width: calc(100% / 6);
}

.color {
    color: #378341;
}

td a {
    text-decoration: underline;
}

.fixMax img {
    width: 28px;
}
