* {
    margin: 0;
    color: rgb(15, 28, 63);
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    scroll-behavior: smooth;
}

body {
    background: #F8F5EE;
    position: relative;
}

.lineTitle {
    border-bottom: 0.2em solid #F28B50;
    border-radius: 4em;
    width: 10%;
    margin-left: 20px;
}

.btnPrimary {
    display: flex;
    justify-content: center;
    background-color: #f8950038;
    border: 0.1px solid #00000013;
    padding: 0.6em 2em;
    border-radius: 2em;
    font-weight: 400;
}

.btnSecondary {
    display: flex;
    justify-content: center;
    border: 0.1px solid rgba(0, 0, 0, 0.11);
    background-color: #F8F5EE;
    padding: 0.6em 1em;
    border-radius: 2em;
    font-weight: 400;
    
}

.btnHover {    
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s;
}

.btnHover:hover {
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    /*border-inline-start-width: 5px;*/
    border-color: #00000075;
}

h1 {
    font-size: 24px;
    font-weight: 900;
}

h3 {
    font-size: 15px;
}

.dashboardContainer {
    height: 94vh;
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerDashboard {    
    width: 100%;
    display: flex;
    justify-content: space-between;    
}

.titleCard {
    display: flex;
    align-items: center;
    
}

.myStats {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

.nearMission {
    width: 63%; 
}

.statAlign {
    display: flex;
    justify-content: space-between;
}

.statAlign p {
    margin: 6px 0;
}

.background {
    background: linear-gradient(to top, #f5c09f, #ffffff00);
    border-radius: 1em;
    padding: 10px 20px; 
    box-shadow: 0px 0px 12px rgba(30, 28, 165, 0.151);
}

.cardMission {
    background-color: rgba(255, 255, 255, 0.479);
    width: 28%;
    margin-top: 8px;
    padding: 10px 20px;
    border-radius: 10px;
}

.strong { 
    font-weight: 900; 
}

.cardMission p {
    font-size: 18px;
    margin: 12px 0;
}

.flexCardsMission {
    display: flex;
    justify-content: space-between;
}

.cardMission a {
    width: 50%;    
}

span {
    font-weight: 900;
}

.middleDashboard {
    background: linear-gradient(to top, #f5c09f, #ffffff00);
    box-shadow: 0px 0px 12px rgba(30, 28, 165, 0.151);
    border-radius: 1em;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

table {
    display: flex;
    flex-direction: column;
    margin: 0.8em 0;       
    text-align: center;    
    border-radius: 10px;
}

thead {
    border-radius: 10px 10px 0 0;
    background-color: #f8f5ee6c;
}

tbody {
    background-color: #f8f5ee31;
}

tr {
    width: 100%;
    display: flex;
    align-items: center;
}

table th {
    padding: 16px 8px;
    font-size: 1.2em;
    font-weight: 500;
}

table td {
    padding: 16px;
    border-radius: 10px;
}

table tr {    
    position: relative;
}


table tr::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.233);
    width: auto;
}

tr input {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: none;
    background: white;
    border: solid gray 1px;
    border-radius: 8px;
    margin-left: 6px;
}

.fixMax {
    height: 16vh;
    overflow-y: scroll;
    display: block;
    border-radius: 0 0 10px 10px;
}

th, td {     
    width: calc(100% / 5);    
}

.completed th, td {
    width: calc(100% / 4);
}

.color {    
    color: #378341;
}

td a {
    text-decoration: underline;
}
