* {
    margin: 0;
    color: rgb(15, 28, 63);
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    scroll-behavior: smooth;
}

body {
    background: #F8F5EE;
    position: relative;
}

.line {
    border-bottom: 0.2em solid #F28B50;
    border-radius: 4em;
    width: 16%;
    margin-left: 20px;
}

.designLine {
    display: flex;
    align-items: center;
}

.dashboardContainer {
    width: 80vw;
    height: 94vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboardContainer .btnPrimary {
    display: flex;
    justify-content: center;
    background-color: #f8950038;
    border: 0.1px solid #00000013;
    padding: 0.4em 0.6em;
    border-radius: 2em;
    font-weight: 400;
}

.dashboardContainer .btnSecondary {
    display: flex;
    justify-content: center;
    border: 0.1px solid rgba(0, 0, 0, 0.11);
    background-color: #ff3c0034;
    padding: 0.4em 0.6em;
    border-radius: 2em;
    font-weight: 400;
}

.dashboardContainer .btnHover {
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s;
}

.dashboardContainer .btnHover:hover {
    border-color: #000000b2;
}

.colHeader {
    display: flex;
    flex-direction: column;
    height: 28vh;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 6px;
}

.header {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.header h3 {
    font-weight: 400;
    font-size: 46px;
}

.headerCards {
    border-radius: 10px;
    padding: 20px;
    width: calc(88%/3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background {
    background: linear-gradient(to top, #f5c09f, #ffffff00);
    border-radius: 1em;
    padding: 10px 20px;
    box-shadow: 0px 0px 12px rgba(30, 28, 165, 0.151);
}

.tablePadding {
    padding: 2em;
}

table {
    height: 62vh;
    display: flex;
    flex-direction: column;
    margin: 0.8em 0;
    text-align: center;
    border-radius: 10px;
}

thead {
    border-radius: 10px 10px 0 0;
    background-color: #f8f5ee6c;
}

tbody {
    background-color: #f8f5ee31;
}

tr {
    width: 100%;
    display: flex;
    align-items: center;
}

table th {
    padding: 16px 8px;
    font-size: 1.2em;
    font-weight: 500;
    margin: 0 10px;
    text-align: left;
}

table td {
    padding: 16px;
    border-radius: 10px;
    text-align: left;
    margin: 0 10px;

}

table tr {
    position: relative;
}


table tr::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.233);
    width: auto;
}

tr input {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: none;
    background: white;
    border: solid gray 1px;
    border-radius: 8px;
    margin-left: 6px;
}

.fixMax {
    height: 84%;
    overflow-y: scroll;
    display: block;
    border-radius: 0 0 10px 10px;
}

th,
td {
    width: calc(100% / 7);
}

.completed th,
td {
    width: calc(100% / 7);
}

.color {
    color:  #000000;
}

.colorBack {
    background-color: #f28b5036;
    border-radius: 10px 10px 0 0;
}

