* {
    margin: 0;
    color: rgb(9, 17, 39);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background: #F8F5EE;
    position: relative;    
}

.mainFrontOffice {    
    visibility: hidden;
    transform: translateX(-20px);
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s ease-out; 
    
}

.mainBackOffice {
    display: flex;
    flex-direction: column;
    width: 100%;
    visibility: hidden;
    transform: translateX(-20px);
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s ease-out; 
    overflow-y: scroll;
}
.mainBackOffice.isVisible,
.mainFrontOffice.isVisible {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.4s, opacity 0.4s ease-out; 
}

.containerDisplay {
    display: flex;
}

.backgroundCards {
    background: linear-gradient(to top, #f5c09f, #ffffff00);
    border-radius: 1em;
    padding: 10px 20px;
    box-shadow: 0px 0px 12px rgba(30, 28, 165, 0.151);
}

.btnPrimary {
    display: flex;
    justify-content: center;
    background-color: #F9CF80;
    border: none;
    padding: 0.6em 2em;
    border-radius: 2em;
    font-weight: 400;
}

.btnSecondary {
    display: flex;
    justify-content: center;
    border: 0.1px solid rgba(0, 0, 0, 0.150);
    padding: 0.6em 2em;
    border-radius: 2em;
    font-weight: 400;
}

.btnHover {
    display: inline-block;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.80);
}

.btnHover:hover {
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-color: #0000007e;
    box-shadow: 0px 0px 6px #00000025;
}

.line {
    border-bottom: 0.2em solid #F28B50;
    border-radius: 4em;
}