* {
    margin: 0;
    color: rgb(9, 17, 39);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    opacity: 0;
}