/***STYLE-GENERAL***/

* {
    margin: 0;
    color: rgb(15, 28, 63);
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-decoration: none;
    font-weight: 300;
    scroll-behavior: smooth;
}

body {
    background: #F8F5EE;
    position: relative;
    height: 100vh;

    display: flex;
    align-items: center;
}

span {
    color: #F28B50;
}

.btnPrimary {
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 6px #00000079;
    background-color: #F9CF80;
    border: none;
    padding: 0.6em 2em;
    border-radius: 2em;
    font-weight: 400;
}

.btnSecondary {
    display: flex;
    justify-content: center;
    border: 0.1px solid rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 6px #F9CF80;
    background-color: #F8F5EE;
    padding: 0.6em 2em;
    border-radius: 2em;
    font-weight: 400;
}

.btnHover {
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s;
}

.btnHover:hover {
    transform: scale(1.1);
}

.displayResponsivMobile {
    display: none;
}

/***BACKGROUND***/

.backGroundPicture {
    position: absolute;
    z-index: -3;
    background-image: url("../../pictures/backGroundCards/heroSection.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top 6em right 4%;
    background-size: 40em;
}

.backGroundCard {
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

/*------------------*/

.heroSectionCard {
    position: absolute;
    background-image: url("../../pictures/backGroundCards/Group47.png");
    top: 72%;
    left: 4%;
    background-size: 200px;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    transform-origin: right;
    opacity: 0.75;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register {
    margin-top: 5em;
    position: relative;
    background: linear-gradient(to top, #f5c09f, #ffffff00);
    padding: 1em 8em 1em 8em;
    border-radius: 2em;
    right: -50%;
}

.nameRegister {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nameRegister input {
    width: 180px;
}

img {
    height: 8em;
}

input {
    border: none;
    border-radius: 0.8em;
    width: 400px;
    height: 25px;
    margin-top: 2em;
    padding: 1em;
}

.remember {
    display: flex;
    align-items: center;
}

.remember input {
    width: 10px;
    background-color: white;
    cursor: pointer;
    margin-left: 1.2em;
}

.buttonLogin {
    margin: 2em 0em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.buttonLogin a {
    
    text-decoration: underline;
}

footer {
    display: none;
}


/******************************************************************************************************************/

@media all and (max-width: 1620px) {
    .backGroundPicture {
        background-size: 32em;
        opacity: 0.9;
    }

}

@media all and (max-width: 1480px) {
    .backGroundPicture {
        background-position: top 14em right 0;

        background-size: 22em;
        opacity: 0.9;
    }

}

@media all and (max-width: 1380px) {
    .backGroundPicture {
        display: none;
    }

    .backGroundCard {
        display: none;
    }

    body {
        justify-content: center;
    }

    .register {
        margin-top: 5em;
        position: relative;
        background: linear-gradient(to top, #f5c09f, #ffffff00);
        padding: 1em 8em 1em 8em;
        border-radius: 2em;
        right: 0%;
    }

}

@media all and (max-width: 1080px) {

    .heroSectionCard {
        display: none;
    }

    .displayResponsivMobile {
        display: block;
    }

    .hiddenTablet {
        display: none;
    }

    .headerResponsiv {
        display: flex;
        justify-content: space-between;
    }

    .menuBurger,
    .menuBurgerCross {
        height: 1.6em;
    }
}



@media all and (max-width: 810px) {

    .form {
        padding-top: 0em;
    }

    .register,
    .nameRegister,
    .buttonLogin {
        flex-direction: column;
        
    }

    .buttonLogin,
    .buttonLogin a {
        margin-top: 2em;
    }

    img {
        height: 6em;
        margin-top: 6em;
    }

    .register {
        padding: 0 0;
        margin: 0;
        border-radius: 0;
        min-height: 100vh;  
        width: 100vw;      
    }

    .nameRegister {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nameRegister input,
    input {
        width: 80vw ;
    }
}

@media all and (max-width: 510px) {
    
    .headerResponsiv {
        display: flex;
        justify-content: space-between;
    }

    .headerResponsiv img {
        margin: 0.2em 0.8em;
    }

    .menuBurger,
    .menuBurgerCross {
        height: 1.2em;
    }

    body{
        height: 100%;
    }

}