body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    font-family: sans-serif;
    background-color: #F8F5EE;
    margin: 0;
}

a {
    margin-top: 2rem;
    text-decoration: none;
    color: white;
    background-color: #F28B50;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
}