.btnPrimary {
    display: flex;
    justify-content: center;
    background-color: #f9cf807c;
    border: 0.1px solid #00000013;
    padding: 0.6em 2em;
    border-radius: 2em;
    font-weight: 400;
}

.btnSecondary {
    display: flex;
    justify-content: center;
    border: 0.1px solid rgba(0, 0, 0, 0.11);
    background-color: #F8F5EE;
    padding: 0.6em 1em;
    border-radius: 2em;
    font-weight: 400;
}

.btnHover {
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s;
}

.modalBackground {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    z-index: 100;
    top: 25vh;
    left: 25vw;
    width: 50%;
    height: 50%;
    background: #F8F5EE;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modalToggle {
    position: fixed;
    z-index: 100;
    top: 25vh;
    left: 25vw;
    width: 50%;
    height: 50%;
    background: #F8F5EE;
    border-radius: 2em;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal h2 {
    font-weight: 900;
}

.sizedBox {
    width: 80%;
}

.sizedBox p {
    font-size: 20px;
}

.modal div {
    display: flex;
    margin-top: 1em;
}

.modal div a {
    margin-right: 1em;
}

.spanText {
    font-weight: 900;
    color: #8d5d05;
}

.toggleNone {
    display: none;
}

.toggleBlock {
    display: flex;
}
